.stats {
  width: 500px;
  height: 75px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  div {
    align-self: center;
    text-align: center;
    h3 {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
      animation: opacity 0.5s; }
    .description { font-size: 16px; } } }

@keyframes opacity {
  0% {opacity: 0;}
  100% {opacity: 1;} }
